In [ ]:
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-2-102da4055415> in <module>
----> 1 print(Ten)

NameError: name 'Ten' is not defined

TEN and ten are given as variables but not Ten,since python is case sensitive 
it doesn't recognise Ten

In [ ]:
print = "Hi there"
print = 12
this wont work as print is a reserved keyword



```
# This is formatted as code
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-77-6f0a8cb6799f> in <module>
      5 year_of_birth = input("year_of_birth: ")
      6 
----> 7 age = 2022 - year_of_birth
      8 
      9 print(f"""

TypeError: unsupported operand type(s) for -: 'int' and 'str'
```
here at line 7 year_of_birth is taken as str by default so it can't subtract string from int



```
# This is formatted as code
File "<ipython-input-32-1a8d28b38f60>", line 1
    int A
        ^
SyntaxError: invalid syntax
```

here A is already in int and to change something into different datatype it should be str(A)/int(A)/float(A)



```
# This is formatted as code
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-81-66a6f430b15b> in <module>
      1 A = float(input("Enter value of A: "))
----> 2 B = int(input("Enter value of B: "))
      3 
      4 print(f"Sum of A and B is: {A+B}")

ValueError: invalid literal for int() with base 10: '10.2'
```

here we passed 10.2 which is not a integer so it shows that error



```
# This is formatted as code
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-125-78d1f071c089> in <module>
      2   print(x+y)
      3 
----> 4 sum_of_values(22.2, 33, 444)

TypeError: sum_of_values() takes 2 positional arguments but 3 were given
```
in function sum_of_values(x,y):
 we declared only 2 variables but later while using the function 3 inputs are given. So it should be  sum_of_values(22.2,33)

In [3]:
#Take input A and B and print their sum, mul, div, square of the nos.

a = int(input('Enter 1st number: '))
b = int(input('Enter 2nd number: '))

print ('The sum of 2 numbers is ',a+b)
print ('\nThe multiplication of 2 numbers is ',a*b)
print ('\nThe remainder when a divided by b is ',a%b)
print ('\nThe square of a is ',a**2,'\nThe square of b is ',b**2)

Enter 1st number: 6
Enter 2nd number: 2
The sum of 2 numbers is  8

The multiplication of 2 numbers is  12

The remainder when a divided by b is  0

The square of a is  36
The square of b is  4

***How many reserve keywords are there in python and why we should not use them as a variable name.***

There are total of 33 reserved keywords in python and they cant be used because they have no user defined meaning

In [7]:
#Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

first_name = input('Enter your first name: ')
last_name = input('Enter your last name: ')

print(last_name +'.'+ first_name +'@gmail.com')

Enter your first name: vijay
Enter your last name: k
k.vijay@gmail.com

In [9]:
""" Try to print the following lines -
Hi I'm Sunny
My address is 22/3
I earn 20$ daily."""

print("Hi I'm Sunny \nMy address is 22/3 \nI earn 20$ daily")

Hi I'm Sunny
My address is 22/3
I earn 20$ daily

In [14]:
#Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

name = input('Enter your name: ')
address = input('Enter your address: ')
dob = (input('Enter your year of birth'))
print(name+"."+dob+'@gmail.com')

Enter your name: vijay
Enter your address: hyderabad
Enter your year of birth2001
vijay.2001@gmail.com

In [15]:
"""Convert the following -
"22.4" into integer
"22" into complex no."""

print(int(22.4))
print(complex(22))

22
(22+0j)